# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

*.suo
*.suo
*.xml
Tests/bin/Debug/Tests.dll
Tests/bin/Debug/Tests.pdb
Tests/bin/Debug/Trivia.exe
Tests/bin/Debug/Tests.pdb
Tests/bin/Debug/Trivia.pdb
Tests/obj/Debug/Tests.csprojResolveAssemblyReference.cache
Tests/obj/Debug/Tests.pdb
*.xml
*.xml
*.xml
*.dll
*.pdb
*.exe
*.pdb
*.cache
*.suo
Tests/bin/Debug/ReferenceOutput/GoldenOutput-Seed-1.txt
Tests/bin/Debug/ReferenceOutput/GoldenOutput-Seed-10.txt
*.txt
*.xml
Tests/bin/Debug/TestResult.xml
*.xml
*.dll
*.dll
*.cache
*.txt
*.cache
